@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
a.active hr{
  display: block;
}
*{
  font-family: Outfit;
  /* padding: 50px; */
}
.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}
::-webkit-scrollbar{
  display: none;
}
@media (max-width:640px){
  a.active{
    background-color: black;
    color: whitesmoke;
  }
}
/* #ab1157:pink
#008080:teal greem
#d7a32b:golden yellow
#4a4a4a:dark gray */